<h1>Creat a New Post!</h1>

<form action="/posts" method="POST">
  <label>Post Name:</label>
  <p><input type="text" name="name"></p>
  <label>Post Content:</label>
  <p><input type="text" name="content"></p>
  <button type="submit" value="submit"></button>
  
</form>